<!--The content below is only a placeholder and can be replaced.-->
<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
<div class="container m-5 p-5">
  <div class="row">
    <div class="col">
      <div [class]="classe" role="alert">
        <h4>{{mensagem}}</h4>
      </div>
      <button class="btn btn-outline-primary" (click)="reinicia()">
        Jogar novamente
      </button>
    </div>
  </div>
</div>
</ng-template>
<app-rodape></app-rodape>
