<div class="container">
  <div class="p-5 jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <app-progresso [progresso]="progresso"></app-progresso>
      </div>
      <div class="d-flex justify-content-end col-sm-6">
        <app-tentativas></app-tentativas>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Traduza a frase:</h6>
        <p>{{rodadaFrase.fraseIng}}</p>
        <div class="form-group">
          <textarea
            class="form-control" cols="30" rows="3"
            (input)="pegaResposta($event)" [value]="resposta"></textarea>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-end">
              <button (click)="verificaResposta()" class="btn btn-primary text-right">Verificar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
